<div class="container mt-5">
  <form #form="ngForm" (ngSubmit)="accedi(form)">
    <div class="form-group mb-2">
      <label for="email">Email: </label>
      <input
        type="text"
        name="email"
        id="email"
        required
        class="form-control"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        required
        class="form-control"
        ngModel
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="form.invalid"
    >
      Accedi
    </button>
  </form>
</div>
